html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 15px;
}
.header-logo {
	float: left;
	margin-top: 32px;
}
header nav ul li {
	float: right;
	text-indent: 80px;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 60px;
}
header {
	overflow: hidden;
}
.clearfix {
	clear: both;
}
.sec1 {
	overflow: hidden;
}
.sec1-img {
	float: right;
	margin-top: 155px;
	margin-left: 38px;
	width:calc(50% - 38px);
	overflow: hidden;
}
.sec1-text {
	float: left;
	margin-top: 225px;
	overflow: hidden;
	width: 50%;
}
.sec1-text h1 span {
	display: block;
}
.sec1-text p {
	margin-top: 42px;
	margin-bottom: 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 22px;
}
button {
	padding-top: 15px;
	padding-left: 35px;
	padding-right: 25px;
	padding-bottom: 25px;
	border: 0px solid;
	background-color: #ffe600;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 500;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 58px;
	margin-top: 127px;
}
.box {
	overflow: auto;
}
.imgsection1 {
	float: left;
	margin: 2px;
}
.imgsection1:nth-child(4) {
	clear: left;
}
.partner {
	width: 100%;
	overflow: hidden;
	background-color: #fdfdfd;
}
.imgsection2 {
	float: left;
	padding: 15px;
	margin-right:55px;
}
.sectiontext h2 {
	margin-bottom: 70px;
}
.sectiontext p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 21px;
}
.sectiontext p span {
	display: block;
}
.luke{
	overflow: hidden;
	clear: both;
}
.imgsection3 {
	float: left;
	margin-right: 30px;
	width:calc(33.3% - 38px);
}
.imgsection3:nth-child(3) {
	border: 4px #fdfdfd solid;
}
.luke h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 800;
	margin-top: 106px;
	margin-bottom: 47px;
	margin-left: 54px;
}
.luke p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	margin-left: 49px;
}
.luke p span {
	display: block;
}
.luke-span2 {
	margin-top: 56px;
	margin-bottom: 83px;
}
.superblog {
	overflow: hidden;
	clear: both;
}
.imgsection4 {
	float: left;
	margin: 10px;
	width: 30%;
}
.formfix {
	overflow: hidden;
}
.sectionform {
	float: left;
	width: 50%;
}
.contactimg {
	float: right;
	width: 50%;
}
.art {
	overflow: hidden;
}
.imgsection5 {
	float: left;
	width: 20%;
	margin: 3px;
}
footer a {
	float: left;
}
footer p {
	float: left;
	color: white;
}
footer {
	overflow: hidden;
	background-color: black;
}